.item-count {
	width: 160px;
}

.saved-items {
	box-shadow:
		0 3px 5px -1px rgba(0,0,0,0.2),
		0 6px 10px 0 rgba(0,0,0,0.14),
		0 1px 18px 0 rgba(0,0,0,0.12);
	position: absolute;
	width: 60%;
	z-index: 10;
}

.parent-item-link {
	margin: 10px 0;
	text-align: center;
	cursor: pointer;
}

@media only screen and (max-width: 500px) {
	.saved-items {
		width: 100%;
	}
}
