ion-checkbox {
	--size: 24px;
	margin-right: 15px;
	position: relative;
}

ion-item-sliding {
	background-color: lightgrey;
	transition: max-height, 0.5s;
	max-height: 100px;

	ion-item {
		background-color: white;
	}
}

.removed-item {
	max-height: 0;
}
