// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html ion-app {
	&,
	* {
		-webkit-user-select: text !important;
		user-select: text !important;
	}
}

.image-logo-icon {
	background-color: white;
	background-image: url('/assets/icons/icon-transparent-32.png');
	background-size: contain;
	border-radius: 50%;
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: bottom;
}

.hammerjs-press-scroll-hack {
	display: block; // I needed this to make my element touchable
	touch-action: pan-y !important;
}

.ios-only {
	display: none;

	.ios & {
		display: initial;
	}
}

.md-only {
	display: none;

	.md & {
		display: initial;
	}
}

.big-alert {
	.alert-wrapper {
		--max-width: 80%;
		--width: 80%;
	}

	.alert-message.sc-ion-alert-md {
		white-space: pre-wrap;
		max-height: 80%;
	}
}

.app-list-layout-container {
	height: 100%;
	display: flex;
	flex-flow: column;
}

.app-list-layout-items {
	flex-grow: 1;
	flex: 0 1 auto;
	overflow: auto;
}

.app-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.list-card {
	cursor: pointer;
	height: 100%;
	margin-bottom: 20px;
	width: 95%;

	&,
	ion-list,
	ion-item {
		background: transparent;
		--background: transparent;
	}

	.list-delete {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
	}

	.list-actions {
		bottom: -4px;
		left: -5%;
		position: absolute;
		width: 110%;
	}
}

.foo {
	background: url(/assets/imgs/logo.png)  no-repeat center center fixed;
	background-size: 400px;
	position: fixed;
	height: 100%;
	width: 100%;
	opacity: .3;
}

.ion-item-inline-control {
	float: right;

	&.ion-item-inline-control-wide.md {
		width: 300px;
		padding-top: 0px;
	}

	&.ion-item-inline-control-wide-empty {
		width: 80px;
	}

	&.md {
		padding-top: 7px;
	}

	&.ios {
		padding-top: 24px;
	}

	ion-input{
		margin-left: 60px;
	}

	ion-select {
		margin-left: 40px;
		max-width: 100%;
		width: calc(100% - 85px);
	}

	ion-button {
		position: absolute;
		z-index: 5;
		top: 5px;

		&:last-child {
			right: 10px;
		}
	}
}

ion-grid.full-height-grid {
	&,
	& > ion-row,
	& > ion-row > ion-col {
		height: 100%;
	}
}

@media only screen and (max-width: 400px) {
    .foo {
        background-size: contain;
    }
}

@media only screen and (max-width: 768px) {
	.hide-mobile {
		display: none;
	}
}
